@import "tailwindcss";

@theme {
  --color-primary: #337ab7;
  --color-secondary: #f29322;
  --color-accent: #ff8f02;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
